nodered/flows.json
[
    {
        "id": "05281de97b961578",
        "type": "subflow",
        "name": "query db",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "e982c4b50f384917"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 500,
                "y": 80,
                "wires": [
                    {
                        "id": "ec082f198ac36ff1",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#D50044",
        "icon": "node-red/leveldb.svg"
    },
    {
        "id": "ec082f198ac36ff1",
        "type": "mysql",
        "z": "05281de97b961578",
        "mydb": "06433410551cefdd",
        "name": "database",
        "x": 400,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "e982c4b50f384917",
        "type": "change",
        "z": "05281de97b961578",
        "name": "kurangi query tidak perlu",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 80,
        "wires": [
            [
                "ec082f198ac36ff1"
            ]
        ]
    },
    {
        "id": "25059bd9651a6eb0",
        "type": "subflow",
        "name": "check log",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 100,
                "wires": [
                    {
                        "id": "ae930ece7f015d49"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 840,
                "y": 100,
                "wires": [
                    {
                        "id": "b9813d25ca25865d",
                        "port": 0
                    },
                    {
                        "id": "94d8d3e5fe0ba4bc",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "ae930ece7f015d49",
        "type": "function",
        "z": "25059bd9651a6eb0",
        "name": "apakah siswa sudah hadir",
        "func": "const now = new Date();\nconst current = now.toISOString().split('T')[0];\n\nmsg.topic = `SELECT *\nFROM log_absensi\nWHERE DATE(date) = CURDATE()\nAND uid = '${global.get(\"uid\")}'`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 100,
        "wires": [
            [
                "36eb50e9a8942fd3"
            ]
        ]
    },
    {
        "id": "36eb50e9a8942fd3",
        "type": "mysql",
        "z": "25059bd9651a6eb0",
        "mydb": "06433410551cefdd",
        "name": "",
        "x": 440,
        "y": 100,
        "wires": [
            [
                "a0da93717f3bda56"
            ]
        ]
    },
    {
        "id": "a0da93717f3bda56",
        "type": "switch",
        "z": "25059bd9651a6eb0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 100,
        "wires": [
            [
                "b9813d25ca25865d"
            ],
            [
                "94d8d3e5fe0ba4bc"
            ]
        ]
    },
    {
        "id": "b9813d25ca25865d",
        "type": "change",
        "z": "25059bd9651a6eb0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "done",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "94d8d3e5fe0ba4bc",
        "type": "change",
        "z": "25059bd9651a6eb0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "done",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "06433410551cefdd",
        "type": "MySQLdatabase",
        "name": "absensi",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "absensi",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "32c26991b3ccfb96",
        "type": "tab",
        "label": "Mesin Absensi IoT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "371b48321a6ce361",
        "type": "function",
        "z": "32c26991b3ccfb96",
        "name": "tambah/perbarui data siswa",
        "func": "const state = flow.get('state')\nconst data = msg.payload\nif (state) {\n    msg.topic = `UPDATE siswa SET student_name='${data.student_name}', class=${data.class}, major='${data.major}' WHERE uid='${data.uid}'` \n} else {\n    msg.topic = `INSERT INTO siswa (uid, student_name, class, major) VALUE ('${data.uid}','${data.student_name}','${data.class}','${data.major}')`\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 380,
        "wires": [
            [
                "029f5707a7a5e62d"
            ]
        ]
    },
    {
        "id": "fa8001faf0f03163",
        "type": "http in",
        "z": "32c26991b3ccfb96",
        "name": "",
        "url": "/absensi",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 280,
        "wires": [
            [
                "b23ec057bb570d74"
            ]
        ]
    },
    {
        "id": "b23ec057bb570d74",
        "type": "function",
        "z": "32c26991b3ccfb96",
        "name": "cari data siswa",
        "func": "const uid = msg.payload.uid\nglobal.set('uid', uid)\nmsg.topic = `SELECT * FROM siswa WHERE uid='${uid}'`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 280,
        "wires": [
            [
                "685c62ebdedec587",
                "e2c812b06856d665"
            ]
        ]
    },
    {
        "id": "7fdc346b7dc4541b",
        "type": "switch",
        "z": "32c26991b3ccfb96",
        "name": "apakah data ada",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 280,
        "wires": [
            [
                "e8f88bc059e8cab5"
            ],
            [
                "9a4472e3e9703183"
            ]
        ],
        "outputLabels": [
            "user ditemukan",
            "user tidak ditemukan"
        ]
    },
    {
        "id": "fd894290b5488bc2",
        "type": "http response",
        "z": "32c26991b3ccfb96",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 350,
        "y": 660,
        "wires": []
    },
    {
        "id": "c5dd43dbd4b8fcc2",
        "type": "function",
        "z": "32c26991b3ccfb96",
        "name": "siswa ditemukan",
        "func": "const now = new Date()\nconst nama = flow.get('name')\nconst kelas = flow.get(\"class\");\nlet status\n\nif (msg.done) {\n    if (now.getDay() > 5) { \n        status = 'prei bolo'\n    } else { \n        if (now.getHours() > 5 && now.getHours() <= 7) { \n            status = 'hadir'\n        } else if (now.getHours() > 7 && now.getHours() <= 15) { \n            status = 'terlambat'\n        } else if (now.getHours() > 15 && now.getHours() <= 20) { \n            status = 'pulang'\n        } else { \n            status = 'lu ngapain njir, gabut amat'\n        } \n    } \n    msg.topic = `INSERT INTO log_absensi (uid, student_name, status) \n    VALUES ('${global.get('uid')}', '${nama}', '${status}')`\n} else {\n    status = 'sudah absen'\n}\n\n\nmsg.payload = { \n    status: \"berhasil\",\n    nama,\n    kelas,\n    status_absen: status\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 480,
        "wires": [
            [
                "55dc6a7c78f13c7e"
            ]
        ]
    },
    {
        "id": "e9f168072f394121",
        "type": "function",
        "z": "32c26991b3ccfb96",
        "name": "siswa tidak ditemukan",
        "func": "const uid = global.get('uid')\n\nif (msg.done) {\n    msg.topic = `INSERT INTO log_absensi (uid, status) VALUES ('${uid}','user tidak terdaftar')`\n}\n\nmsg.payload = {\n    status: 'error',\n    message: 'siswa tidak ditemukan'\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 520,
        "wires": [
            [
                "1d48fb154460e654"
            ]
        ]
    },
    {
        "id": "e8f88bc059e8cab5",
        "type": "change",
        "z": "32c26991b3ccfb96",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "name",
                "pt": "flow",
                "to": "payload.student_name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "class",
                "pt": "flow",
                "to": "payload.class",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "major",
                "pt": "flow",
                "to": "payload.major",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "state",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 260,
        "wires": [
            [
                "afda5f1b5a0bec71"
            ]
        ]
    },
    {
        "id": "9a4472e3e9703183",
        "type": "change",
        "z": "32c26991b3ccfb96",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "name",
                "pt": "flow"
            },
            {
                "t": "delete",
                "p": "class",
                "pt": "flow"
            },
            {
                "t": "delete",
                "p": "major",
                "pt": "flow"
            },
            {
                "t": "set",
                "p": "state",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 300,
        "wires": [
            [
                "ba4beaad9699339f"
            ]
        ]
    },
    {
        "id": "f2c15d8016ee2588",
        "type": "link in",
        "z": "32c26991b3ccfb96",
        "name": "form area",
        "links": [
            "afda5f1b5a0bec71",
            "e2c812b06856d665"
        ],
        "x": 255,
        "y": 380,
        "wires": [
            [
                "9dd4fee9039f66b9"
            ]
        ]
    },
    {
        "id": "e2c812b06856d665",
        "type": "link out",
        "z": "32c26991b3ccfb96",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "f2c15d8016ee2588"
        ],
        "x": 635,
        "y": 240,
        "wires": []
    },
    {
        "id": "9dd4fee9039f66b9",
        "type": "ui_form",
        "z": "32c26991b3ccfb96",
        "name": "",
        "label": "",
        "group": "eb95a5ba9bc70b7f",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "ID",
                "value": "uid",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Nama",
                "value": "student_name",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Kelas",
                "value": "class",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Jurusan",
                "value": "major",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "uid": "",
            "student_name": "",
            "class": "",
            "major": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 350,
        "y": 380,
        "wires": [
            [
                "371b48321a6ce361"
            ]
        ]
    },
    {
        "id": "2732833ab2ef7f7d",
        "type": "subflow:25059bd9651a6eb0",
        "z": "32c26991b3ccfb96",
        "name": "",
        "x": 360,
        "y": 480,
        "wires": [
            [
                "c5dd43dbd4b8fcc2"
            ]
        ]
    },
    {
        "id": "ee9f9ef64bdc3007",
        "type": "subflow:25059bd9651a6eb0",
        "z": "32c26991b3ccfb96",
        "name": "",
        "x": 360,
        "y": 520,
        "wires": [
            [
                "e9f168072f394121"
            ]
        ]
    },
    {
        "id": "ce48c6823807d64d",
        "type": "subflow:05281de97b961578",
        "z": "32c26991b3ccfb96",
        "name": "",
        "x": 360,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "685c62ebdedec587",
        "type": "subflow:05281de97b961578",
        "z": "32c26991b3ccfb96",
        "name": "",
        "x": 680,
        "y": 280,
        "wires": [
            [
                "7fdc346b7dc4541b"
            ]
        ]
    },
    {
        "id": "edb6f9155b76d755",
        "type": "comment",
        "z": "32c26991b3ccfb96",
        "name": "Base API",
        "info": "",
        "x": 300,
        "y": 240,
        "wires": []
    },
    {
        "id": "99cdc3f1551bdc8e",
        "type": "comment",
        "z": "32c26991b3ccfb96",
        "name": "Form area",
        "info": "",
        "x": 300,
        "y": 340,
        "wires": []
    },
    {
        "id": "afda5f1b5a0bec71",
        "type": "link out",
        "z": "32c26991b3ccfb96",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "bb74d9caadef9c1e",
            "f2c15d8016ee2588"
        ],
        "x": 1155,
        "y": 260,
        "wires": []
    },
    {
        "id": "9e970e2cf2b3f1c1",
        "type": "comment",
        "z": "32c26991b3ccfb96",
        "name": "Making DB query and HTTP response",
        "info": "",
        "x": 390,
        "y": 440,
        "wires": []
    },
    {
        "id": "ba4beaad9699339f",
        "type": "link out",
        "z": "32c26991b3ccfb96",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "0295f5b4be2ceee4"
        ],
        "x": 1155,
        "y": 300,
        "wires": []
    },
    {
        "id": "bb74d9caadef9c1e",
        "type": "link in",
        "z": "32c26991b3ccfb96",
        "name": "found",
        "links": [
            "afda5f1b5a0bec71"
        ],
        "x": 255,
        "y": 480,
        "wires": [
            [
                "2732833ab2ef7f7d"
            ]
        ]
    },
    {
        "id": "0295f5b4be2ceee4",
        "type": "link in",
        "z": "32c26991b3ccfb96",
        "name": "not found",
        "links": [
            "ba4beaad9699339f"
        ],
        "x": 255,
        "y": 520,
        "wires": [
            [
                "ee9f9ef64bdc3007"
            ]
        ]
    },
    {
        "id": "a184a6b34a0ce078",
        "type": "comment",
        "z": "32c26991b3ccfb96",
        "name": "Write log and send response",
        "info": "",
        "x": 360,
        "y": 580,
        "wires": []
    },
    {
        "id": "377f9699ddddbe73",
        "type": "link in",
        "z": "32c26991b3ccfb96",
        "name": "log and response",
        "links": [
            "029f5707a7a5e62d",
            "55dc6a7c78f13c7e",
            "1d48fb154460e654"
        ],
        "x": 255,
        "y": 640,
        "wires": [
            [
                "ce48c6823807d64d",
                "fd894290b5488bc2"
            ]
        ]
    },
    {
        "id": "029f5707a7a5e62d",
        "type": "link out",
        "z": "32c26991b3ccfb96",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "377f9699ddddbe73"
        ],
        "x": 695,
        "y": 380,
        "wires": []
    },
    {
        "id": "55dc6a7c78f13c7e",
        "type": "link out",
        "z": "32c26991b3ccfb96",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "377f9699ddddbe73"
        ],
        "x": 675,
        "y": 480,
        "wires": []
    },
    {
        "id": "1d48fb154460e654",
        "type": "link out",
        "z": "32c26991b3ccfb96",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "377f9699ddddbe73"
        ],
        "x": 675,
        "y": 520,
        "wires": []
    },
    {
        "id": "eb95a5ba9bc70b7f",
        "type": "ui_group",
        "name": "form groub",
        "tab": "667639a0a6b6b883",
        "order": 2,
        "disp": false,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "667639a0a6b6b883",
        "type": "ui_tab",
        "name": "Administartor Form",
        "icon": "dashboard",
        "disabled": false,
        "hidden": true
    }
]