nodered/flows.json
[{"id":"8ce62ed88c29a860","type":"tab","label":"Mesin Absensi IoT","disabled":false,"info":"","env":[]},{"id":"1b61e9e9c0cebd7e","type":"subflow","name":"query db","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"acc9825f1d535319"}]}],"out":[{"x":500,"y":80,"wires":[{"id":"e6044943b10cd2c8","port":0}]}],"env":[],"meta":{},"color":"#D50044","icon":"node-red/leveldb.svg"},{"id":"be9667dd44a5412e","type":"subflow","name":"check log","info":"","category":"","in":[{"x":100,"y":100,"wires":[{"id":"a2509f75436598af"}]}],"out":[{"x":840,"y":100,"wires":[{"id":"9fd1901c3582ebaa","port":0},{"id":"cb70727ce2c3cae0","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"06433410551cefdd","type":"MySQLdatabase","name":"absensi","host":"127.0.0.1","port":"3306","db":"absensi","tz":"","charset":"UTF8"},{"id":"667639a0a6b6b883","type":"ui_tab","name":"Administartor Form","icon":"dashboard","disabled":false,"hidden":true},{"id":"eb95a5ba9bc70b7f","type":"ui_group","name":"form groub","tab":"667639a0a6b6b883","order":2,"disp":false,"width":10,"collapse":false,"className":""},{"id":"fa225697c6d5a697","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6b260cce4e65d1b1","type":"websocket-listener","path":"/scanned","wholemsg":"false"},{"id":"12fc8a35422b51d1","type":"websocket-listener","path":"/example","wholemsg":"false"},{"id":"e6044943b10cd2c8","type":"mysql","z":"1b61e9e9c0cebd7e","mydb":"06433410551cefdd","name":"database","x":400,"y":80,"wires":[[]]},{"id":"acc9825f1d535319","type":"change","z":"1b61e9e9c0cebd7e","name":"kurangi query tidak perlu","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":80,"wires":[["e6044943b10cd2c8"]]},{"id":"a2509f75436598af","type":"function","z":"be9667dd44a5412e","name":"apakah siswa sudah hadir","func":"const now = new Date();\nconst jadwal = global.get('schedules')\nconst today = jadwal[now.getDay()]\n\nvar changeHour = function(raw, operation, nominal) {\n    let [hours, minutes, seconds] = raw.trim().split(':').map(Number);\n    if (operation == 'add') {\n        hours += nominal\n        return `${String(hours).padStart(2, '0')}:${String(minutes).padStart(2, '0')}:${String(seconds).padStart(2, '0')}`\n    } else if (operation == 'less') {\n        hours -= nominal\n        return `${String(hours).padStart(2, '0')}:${String(minutes).padStart(2, '0')}:${String(seconds).padStart(2, '0')}`\n    }\n}\n\nmsg.topic = `SELECT * FROM log\nWHERE created_at BETWEEN CONCAT(CURDATE(), ' ${changeHour(today.jam_masuk, 'less', 2)}') AND CONCAT(CURDATE(), ' ${today.jam_pulang}')\nAND uid = '${global.get(\"uid\")}'\nORDER BY created_at DESC;`\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":100,"wires":[["424897ec883e4f37"]]},{"id":"424897ec883e4f37","type":"mysql","z":"be9667dd44a5412e","mydb":"06433410551cefdd","name":"","x":440,"y":100,"wires":[["b5bdaa5b7600b225"]]},{"id":"b5bdaa5b7600b225","type":"switch","z":"be9667dd44a5412e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":100,"wires":[["9fd1901c3582ebaa"],["cb70727ce2c3cae0"]]},{"id":"9fd1901c3582ebaa","type":"change","z":"be9667dd44a5412e","name":"","rules":[{"t":"set","p":"done","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":80,"wires":[[]]},{"id":"cb70727ce2c3cae0","type":"change","z":"be9667dd44a5412e","name":"","rules":[{"t":"set","p":"done","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":120,"wires":[[]]},{"id":"2aa9a8527f634457","type":"function","z":"8ce62ed88c29a860","name":"tambah/perbarui data siswa","func":"const state = flow.get('state')\nconst data = msg.payload\nif (state) {\n    msg.topic = `UPDATE users SET username='${data.username}', kelas=${data.kelas}, jurusan='${data.jurusan}', email='${data.email || null}' , password='${data.password}', role_id=3 WHERE uid='${data.uid}'` \n} else {\n    msg.topic = `INSERT INTO users (uid, username, role_id, kelas, jurusan, email, password) VALUE ('${data.uid}','${data.username}', 3, ${data.kelas},'${data.jurusan}', '${data.email || null}', '${data.password}')`\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":380,"wires":[["25ae2292f668b226","7d338f36c3115f5b"]]},{"id":"c04e4a275765064c","type":"http in","z":"8ce62ed88c29a860","name":"","url":"/absensi","method":"post","upload":false,"swaggerDoc":"","x":310,"y":280,"wires":[["e638bf2763fe8439"]]},{"id":"f03dfe7b5c931eb9","type":"function","z":"8ce62ed88c29a860","name":"cari data siswa","func":"const uid = msg.payload.uid\nglobal.set('uid', uid)\nmsg.topic = `SELECT username, kelas, role_id, jurusan  FROM users WHERE uid='${uid}'`\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":280,"wires":[["82335974cb71ecb1","07374a8bc0649354"]]},{"id":"089628bfad52ab4d","type":"switch","z":"8ce62ed88c29a860","name":"apakah data ada","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":280,"wires":[["63c9412cdce6e05e"],["2244e9a7b98c1d47"]],"outputLabels":["user ditemukan","user tidak ditemukan"]},{"id":"195b763acbdb55ef","type":"http response","z":"8ce62ed88c29a860","name":"","statusCode":"","headers":{},"x":350,"y":660,"wires":[]},{"id":"808e4b71939a8a20","type":"function","z":"8ce62ed88c29a860","name":"siswa ditemukan","func":"const now = new Date();\nconst nama = flow.get('username');\nconst kelas = flow.get(\"class\");\nconst jadwal = global.get('schedules');\nconst today = jadwal[now.getDay()];\nlet status;\n\nif (msg.done) {\n    if (today.libur == 1) {\n        status = 'prei bolo'\n    } else {\n        const uid = global.get(\"uid\");\n        const jamMasuk = parseInt(today.jam_masuk.split(':')[0], 10);\n        const jamPulang = parseInt(today.jam_pulang.split(':')[0], 10);\n\n        if (now.getHours() > (jamMasuk - 3) && now.getHours() <= jamMasuk) {\n            status = 'hadir'\n            msg.topic = `INSERT INTO absensi_hadirs (uid, hari_tanggal, username, kelas, jurusan, role_id, waktu_datang, created_at, updated_at) VALUES ('${uid}', CURDATE(), '${nama}', ${kelas}, '${flow.get(\"major\")}', ${flow.get(\"role_id\")}, CURTIME(), now(), now());`\n        } else if (now.getHours() > jamMasuk && now.getHours() <= jamPulang) {\n            status = 'terlambat'\n            msg.topic = `INSERT INTO absensi_hadirs (uid, hari_tanggal, username, kelas, jurusan, role_id, waktu_datang, created_at, updated_at) VALUES ('${uid}', CURDATE(), '${nama}', ${kelas}, '${flow.get(\"major\")}', ${flow.get(\"role_id\")}, CURTIME(), now(), now());`\n        } else if (now.getHours() > jamPulang && now.getHours() <= (jamPulang + 2)) {\n            status = 'pulang'\n            msg.topic = `UPDATE absensi_hadirs SET waktu_pulang = CURTIME(), updated_at = NOW() WHERE uid = '${uid}';`\n        } else {\n            status = 'lu ngapain njir, gabut amat'\n        }\n        msg.topic += `INSERT INTO log (uid, username, waktu_absen, pesan, created_at, updated_at) VALUES ('${uid}', '${nama || null}', CURTIME(), '${status}', now(), now());`\n    }\n} else {\n    status = 'sudah absen'\n}\n\n\nmsg.payload = {\n    status: \"success\",\n    nama,\n    kelas,\n    status_absen: status\n}\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":480,"wires":[["ce60d99b0f169ab9"]]},{"id":"a2b1b98cdc0ed5bc","type":"function","z":"8ce62ed88c29a860","name":"siswa tidak ditemukan","func":"const uid = global.get('uid')\n\nif (msg.done) {\n    msg.topic = `INSERT INTO log (uid, pesan, created_at, updated_at) VALUES ('${uid}', 'user tidak terdaftar', now(), now())`\n}\n\nmsg.payload = {\n    status: 'error',\n    message: 'siswa tidak ditemukan'\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":520,"wires":[["42586cbde1942eed"]]},{"id":"63c9412cdce6e05e","type":"change","z":"8ce62ed88c29a860","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"},{"t":"set","p":"username","pt":"flow","to":"payload.username","tot":"msg"},{"t":"set","p":"class","pt":"flow","to":"payload.kelas","tot":"msg"},{"t":"set","p":"role_id","pt":"flow","to":"payload.role_id","tot":"msg"},{"t":"set","p":"major","pt":"flow","to":"payload.jurusan","tot":"msg"},{"t":"set","p":"state","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":260,"wires":[["3fa19bacd8a491c5"]]},{"id":"2244e9a7b98c1d47","type":"change","z":"8ce62ed88c29a860","name":"","rules":[{"t":"delete","p":"username","pt":"flow"},{"t":"delete","p":"class","pt":"flow"},{"t":"delete","p":"major","pt":"flow"},{"t":"delete","p":"role_id","pt":"flow"},{"t":"set","p":"state","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":300,"wires":[["55d2d4e9f4ffe48a"]]},{"id":"b72a691889013ab0","type":"link in","z":"8ce62ed88c29a860","name":"form area","links":["3fa19bacd8a491c5","07374a8bc0649354"],"x":255,"y":380,"wires":[["b33882df491b0d59"]]},{"id":"07374a8bc0649354","type":"link out","z":"8ce62ed88c29a860","name":"link out 1","mode":"link","links":["b72a691889013ab0"],"x":735,"y":240,"wires":[]},{"id":"b33882df491b0d59","type":"ui_form","z":"8ce62ed88c29a860","name":"","label":"","group":"eb95a5ba9bc70b7f","order":1,"width":0,"height":0,"options":[{"label":"ID","value":"uid","type":"text","required":true,"rows":null},{"label":"Nama","value":"username","type":"text","required":true,"rows":null},{"label":"Kelas","value":"kelas","type":"number","required":true,"rows":null},{"label":"Jurusan","value":"jurusan","type":"text","required":true,"rows":null},{"label":"Email","value":"email","type":"email","required":false,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"uid":"","username":"","kelas":"","jurusan":"","email":"","password":""},"payload":"","submit":"submit","cancel":"","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":350,"y":380,"wires":[["f0a9165230b714d4"]]},{"id":"b48ec35be5e565d2","type":"subflow:be9667dd44a5412e","z":"8ce62ed88c29a860","name":"","x":360,"y":480,"wires":[["808e4b71939a8a20"]]},{"id":"590feb35a397187c","type":"subflow:be9667dd44a5412e","z":"8ce62ed88c29a860","name":"","x":360,"y":520,"wires":[["a2b1b98cdc0ed5bc"]]},{"id":"7f56871e6de383e8","type":"subflow:1b61e9e9c0cebd7e","z":"8ce62ed88c29a860","name":"","x":360,"y":620,"wires":[[]]},{"id":"82335974cb71ecb1","type":"subflow:1b61e9e9c0cebd7e","z":"8ce62ed88c29a860","name":"","x":780,"y":280,"wires":[["089628bfad52ab4d"]]},{"id":"8a0ddfde292d970d","type":"comment","z":"8ce62ed88c29a860","name":"Base API","info":"","x":300,"y":240,"wires":[]},{"id":"2dc46063d99b5062","type":"comment","z":"8ce62ed88c29a860","name":"Form area","info":"","x":300,"y":340,"wires":[]},{"id":"3fa19bacd8a491c5","type":"link out","z":"8ce62ed88c29a860","name":"link out 2","mode":"link","links":["7f7943d0ee946066","b52fc3036186d59d","b72a691889013ab0"],"x":1255,"y":260,"wires":[]},{"id":"b3f5ed5120dc89be","type":"comment","z":"8ce62ed88c29a860","name":"Making DB query and HTTP response","info":"","x":390,"y":440,"wires":[]},{"id":"55d2d4e9f4ffe48a","type":"link out","z":"8ce62ed88c29a860","name":"link out 3","mode":"link","links":["b52fc3036186d59d","f3bf3ca5affbe132"],"x":1255,"y":300,"wires":[]},{"id":"7f7943d0ee946066","type":"link in","z":"8ce62ed88c29a860","name":"found","links":["3fa19bacd8a491c5"],"x":255,"y":480,"wires":[["b48ec35be5e565d2"]]},{"id":"f3bf3ca5affbe132","type":"link in","z":"8ce62ed88c29a860","name":"not found","links":["55d2d4e9f4ffe48a"],"x":255,"y":520,"wires":[["590feb35a397187c"]]},{"id":"8679606d12f68991","type":"comment","z":"8ce62ed88c29a860","name":"Write log and send response","info":"","x":360,"y":580,"wires":[]},{"id":"855eb840241c49bb","type":"link in","z":"8ce62ed88c29a860","name":"log and response","links":["42586cbde1942eed","ce60d99b0f169ab9"],"x":255,"y":660,"wires":[["195b763acbdb55ef","6222e53ee9182657","7f56871e6de383e8"]]},{"id":"ce60d99b0f169ab9","type":"link out","z":"8ce62ed88c29a860","name":"link out 5","mode":"link","links":["855eb840241c49bb"],"x":675,"y":480,"wires":[]},{"id":"42586cbde1942eed","type":"link out","z":"8ce62ed88c29a860","name":"link out 6","mode":"link","links":["855eb840241c49bb"],"x":675,"y":520,"wires":[]},{"id":"6222e53ee9182657","type":"debug","z":"8ce62ed88c29a860","name":"response debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":700,"wires":[]},{"id":"e638bf2763fe8439","type":"json","z":"8ce62ed88c29a860","name":"","property":"payload","action":"obj","pretty":false,"x":450,"y":280,"wires":[["f03dfe7b5c931eb9"]]},{"id":"f0a9165230b714d4","type":"twin-bcrypt","z":"8ce62ed88c29a860","name":"Pasword Hash","action":"encrypt","field":"payload.password","hash":"payload.password","rounds":"12","x":500,"y":380,"wires":[["2aa9a8527f634457"]]},{"id":"95aa90e219665fb1","type":"inject","z":"8ce62ed88c29a860","name":"","props":[],"repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":290,"y":800,"wires":[["7c66bb9c27d2427a"]]},{"id":"280d4cb326ea07f8","type":"subflow:1b61e9e9c0cebd7e","z":"8ce62ed88c29a860","name":"","x":720,"y":800,"wires":[["9f1555e171fa35fd"]]},{"id":"9f1555e171fa35fd","type":"change","z":"8ce62ed88c29a860","name":"","rules":[{"t":"set","p":"schedules","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":800,"wires":[[]]},{"id":"6d3a1568fc9d6bd6","type":"comment","z":"8ce62ed88c29a860","name":"Getting schedules","info":"","x":330,"y":760,"wires":[]},{"id":"25ae2292f668b226","type":"subflow:1b61e9e9c0cebd7e","z":"8ce62ed88c29a860","name":"","x":940,"y":380,"wires":[[]]},{"id":"7d338f36c3115f5b","type":"debug","z":"8ce62ed88c29a860","name":"form debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":340,"wires":[]},{"id":"d33b8a36cd96bf7d","type":"ui_button","z":"8ce62ed88c29a860","name":"","group":"eb95a5ba9bc70b7f","order":1,"width":0,"height":0,"passthru":false,"label":"Refresh Jadwal","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":320,"y":840,"wires":[["7c66bb9c27d2427a"]]},{"id":"7c66bb9c27d2427a","type":"function","z":"8ce62ed88c29a860","name":"Mendapatkan jadwal","func":"msg.topic = `SELECT jam_masuk, jam_pulang, libur FROM waktus;`\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":800,"wires":[["280d4cb326ea07f8"]]},{"id":"444dec3d11c031c0","type":"comment","z":"8ce62ed88c29a860","name":"Realtime scanned data API","info":"","x":350,"y":900,"wires":[]},{"id":"73bc23699749a0d4","type":"websocket out","z":"8ce62ed88c29a860","name":"","server":"6b260cce4e65d1b1","client":"","x":620,"y":980,"wires":[]},{"id":"abe6438e88329d3f","type":"websocket in","z":"8ce62ed88c29a860","name":"","server":"6b260cce4e65d1b1","client":"","x":310,"y":980,"wires":[["baf77aa7ef213462"]]},{"id":"564c02bdd19fdf14","type":"http in","z":"8ce62ed88c29a860","name":"","url":"/scanned","method":"get","upload":false,"swaggerDoc":"","x":310,"y":940,"wires":[["971a715fc1fc1d05"]]},{"id":"1ee6a378b9d9c126","type":"http response","z":"8ce62ed88c29a860","name":"","statusCode":"","headers":{},"x":590,"y":940,"wires":[]},{"id":"971a715fc1fc1d05","type":"function","z":"8ce62ed88c29a860","name":"Buat data","func":"const uid = global.get(\"uid\") || null, name = flow.get(\"username\") || null;\n\nmsg.payload = {\n    uid,\n    name\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":940,"wires":[["1ee6a378b9d9c126"]]},{"id":"baf77aa7ef213462","type":"function","z":"8ce62ed88c29a860","name":"Buat data","func":"const uid = global.get(\"uid\") || null, name = flow.get(\"username\") || null;\n\nmsg.payload = {\n    uid,\n    name\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":980,"wires":[["73bc23699749a0d4"]]},{"id":"b52fc3036186d59d","type":"link in","z":"8ce62ed88c29a860","name":"scanned data","links":["3fa19bacd8a491c5","55d2d4e9f4ffe48a"],"x":365,"y":1020,"wires":[["baf77aa7ef213462"]]}]