nodered/flows.json
[
    {
        "id": "47af2fcbca79a95b",
        "type": "tab",
        "label": "Mesin Absensi IoT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e618c1e3b9e58d6f",
        "type": "function",
        "z": "47af2fcbca79a95b",
        "name": "tambah data siswa",
        "func": "msg.topic = \"INSERT INTO siswa (uid, student_name, class, major) VALUE ('\"+msg.payload.uid+\"','\"+msg.payload.student_name+\"','\"+msg.payload.class+\"','\"+msg.payload.major+\"')\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 280,
        "wires": [
            [
                "b612ea08c1bd3cfc"
            ]
        ]
    },
    {
        "id": "fae40017688e6b0a",
        "type": "http in",
        "z": "47af2fcbca79a95b",
        "name": "",
        "url": "/absensi",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 280,
        "wires": [
            [
                "428464bd5654938f"
            ]
        ]
    },
    {
        "id": "428464bd5654938f",
        "type": "function",
        "z": "47af2fcbca79a95b",
        "name": "cari data siswa",
        "func": "msg.topic = `SELECT * FROM siswa WHERE uid='${msg.payload.uid}'`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 280,
        "wires": [
            [
                "5c7961dccc77225e",
                "08e52c501f4ceaf2"
            ]
        ]
    },
    {
        "id": "90e521c2f48271e2",
        "type": "switch",
        "z": "47af2fcbca79a95b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 340,
        "wires": [
            [
                "1cf3ae2a3418ae37"
            ],
            [
                "959f13032bd6fa00"
            ]
        ],
        "outputLabels": [
            "user ditemukan",
            "user tidak ditemukan"
        ]
    },
    {
        "id": "5cc12440d5e5a7fd",
        "type": "http response",
        "z": "47af2fcbca79a95b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1370,
        "y": 360,
        "wires": []
    },
    {
        "id": "5c7961dccc77225e",
        "type": "mysql",
        "z": "47af2fcbca79a95b",
        "mydb": "06433410551cefdd",
        "name": "",
        "x": 670,
        "y": 320,
        "wires": [
            [
                "90e521c2f48271e2"
            ]
        ]
    },
    {
        "id": "08e52c501f4ceaf2",
        "type": "ui_form",
        "z": "47af2fcbca79a95b",
        "name": "",
        "label": "",
        "group": "eb95a5ba9bc70b7f",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "ID",
                "value": "uid",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Nama",
                "value": "student_name",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Kelas",
                "value": "class",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Jurusan",
                "value": "major",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "uid": "",
            "student_name": "",
            "class": "",
            "major": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 1150,
        "y": 280,
        "wires": [
            [
                "e618c1e3b9e58d6f"
            ]
        ]
    },
    {
        "id": "b612ea08c1bd3cfc",
        "type": "mysql",
        "z": "47af2fcbca79a95b",
        "mydb": "06433410551cefdd",
        "name": "",
        "x": 1490,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "03b46d94dfb8ac3b",
        "type": "function",
        "z": "47af2fcbca79a95b",
        "name": "siswa ditemukan",
        "func": "const nama = msg.payload.student_name, kelas = msg.payload.class\n\nmsg.payload = {\n    status: \"berhasil\",\n    nama,\n    kelas,\n    status_absen: \"hadir\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 340,
        "wires": [
            [
                "5cc12440d5e5a7fd"
            ]
        ]
    },
    {
        "id": "959f13032bd6fa00",
        "type": "function",
        "z": "47af2fcbca79a95b",
        "name": "siswa tidak ditemukan",
        "func": "msg.payload = {\n    status: 'error',\n    message: 'siswa tidak ditemukan'\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 400,
        "wires": [
            [
                "5cc12440d5e5a7fd"
            ]
        ]
    },
    {
        "id": "1cf3ae2a3418ae37",
        "type": "change",
        "z": "47af2fcbca79a95b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 320,
        "wires": [
            [
                "08e52c501f4ceaf2",
                "03b46d94dfb8ac3b"
            ]
        ]
    },
    {
        "id": "66ec706bb53d1dc6",
        "type": "inject",
        "z": "47af2fcbca79a95b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"uid\":123123123}",
        "payloadType": "json",
        "x": 300,
        "y": 380,
        "wires": [
            [
                "428464bd5654938f"
            ]
        ]
    },
    {
        "id": "06433410551cefdd",
        "type": "MySQLdatabase",
        "name": "absensi",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "absensi",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "eb95a5ba9bc70b7f",
        "type": "ui_group",
        "name": "form groub",
        "tab": "667639a0a6b6b883",
        "order": 2,
        "disp": false,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "667639a0a6b6b883",
        "type": "ui_tab",
        "name": "Administartor Form",
        "icon": "dashboard",
        "disabled": false,
        "hidden": true
    }
]